<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mqa.smartspeaker">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_indi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity android:name=".ui.skill.azan.AzanReminderActivity"></activity>
        <activity android:name=".ui.changePassword.ChangePasswordActivity" />
        <activity android:name=".ui.skill.scheduleManagement.ScheduleManagementActivity"></activity>
        <activity android:name=".ui.skill.alarmPersonal.AlarmPersonalActivity" />
        <activity android:name=".ui.changeProfile.ChangeProfileActivity" />

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="5d4qw7h7qjfmyrjn8ung" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="ahdswjs5m93xvus4pjhavdsc4mqhgsp5" />

        <activity android:name=".ui.device.lamp.LampActivity" />
        <activity android:name=".ui.connectSmartSpeaker.ConnectSmartSpeakerActivity" />
        <activity android:name=".ui.detailSmartSpeaker.DetailSmartSpeakerActivity" />
        <activity android:name=".ui.splashScreen.videoSplash.VideoSplashActivity" />
        <activity android:name=".ui.splashScreen.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.forgetPassword.ForgetPasswordActivity" />
        <activity android:name=".ui.emailVerification.EmailVerificationActivity" />
        <activity android:name=".ui.forgetPassword.inputCode.InputCodeActivity" />
        <activity android:name=".ui.forgetPassword.inputEmail.InputEmailActivity" />
        <activity android:name=".ui.forgetPassword.renewPassword.RenewPasswordActivity" />
        <activity android:name=".ui.pairing.PairingActivity" />
        <activity android:name=".ui.intro.Intro2Activity" /> <!-- <activity android:name=".ui.intro.IntroActivity"> -->
        <!-- </activity> -->
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>